@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        background: #272C35;
        font-family: 'Roboto','Tahoma';
        font-size: 18px;
        color:white;
        
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
      
    ::-webkit-scrollbar-track {
        background: transparent
    }
       
    ::-webkit-scrollbar-thumb {
        background: rgb(207, 208, 209); 
    }
}

@layer utilities {
    li:hover div{
        background-image: conic-gradient(transparent, transparent, transparent, #90FAF1 );
        animation: borderFancy 2s linear infinite;
    }
    li:hover div.seccionActive{
        background-image: none;
    }
    @keyframes borderFancy {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
      }
    .mask{
        mask-image: linear-gradient(to right , transparent,black 8%, black 93%, transparent);
    }
    .bg-conic{
        background-image: radial-gradient(#42527080, #303744, #272C35, #272C35);
    }
    .replace-text{
        transform: rotate(-30deg) skewX(-30deg);
    }
    .cardContainer{
        min-width: 400px;
        min-height: 300px;
        position:relative;
        color: black;
        perspective: 1000px;
        border-radius: 5px;
        transition: all .1s linear;
        cursor: pointer;
    }
    .cardContainer:hover{
        transform: scale(1.1) translateZ(0px);
    }
    .active{
        transform: rotateY(180deg)
    }
    .card{
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        
        transition: all .4s linear;
        border-radius: 5px;
    }
    .side{
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .faceA{
        z-index: 2;
    }
    .faceB{        
        transform: rotateY(180deg);
    }
    .seccionActive{
        inset: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .seccionActive::before{
        content: '<';
        font-size: 1.25rem;
        font-weight: bold;
        color: #90FAF1;
    }
    .seccionActive::after{
        content: '/>';
        font-size: 1.25rem;
        font-weight: bold;
        color: #90FAF1;
    }
  }
